/*body {
    width: 1cm;
}
*/

/** {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

body{
    margin: -20px 5px -100px 20px;
    /*font-family: sans-serif;*/
}


@page {
    margin: 5px 5px;
}

header {
    width: 100%;
    left: 0px;
    top: -30px;
    right: 0px;
    position: fixed;
    padding: 5px;
    height: 120px;
    /*background-color: #ddd;*/
    text-align: left;
    border-bottom: 2px solid #ddd;

}
header h1{
    margin: 10px 0;
}
header h2{
    margin: 0 0 10px 0;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 40px;
    right: 0px;
    height: 0px;
    border-bottom: 2px solid #ddd;
    font-size: 12px;
    color: #0a568c;
    clear: both;
}
/*footer .page:after {*/
    /*content: counter(page);*/
/*}*/
footer table {
    width: 100%;
    text-align: center;
}
/*footer p {*/
    /*text-align: right;*/
/*}*/
footer .izq {
    text-align: left;
}


.limpia_float {
    clear: both;/*  hace k el segundo parrafo ya no flote a la izquierda del div o sea rompe el float k tiene el div*/
}


.content {
    /*width: 100%;*/
    /*left: 5px;*/
    /*top: auto;*/
    /*right: 5px;*/
    /*font-size: 10px;*/
    /*display: inline-block;*/
    /*padding: 5px;*/
    margin: 110px 5px 40px 5px;

    /*background-color: #00bfa5;*/

/*float: left;*/
    position: relative;
}

.credencial_img{
    width: 230px;
    height: 355px;
    background: url(../img/camp/credencial-perm.png) no-repeat;
    border: 1px ;
    border-style: dashed;
    border-color:#090c29;
    text-align: center;
    display:inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom:  150px;
    right: 10px;
}

.credencial_campamentos{
    width: 230px;
    height: 355px;
    background: url(../img/camp/credencial-camp.png) no-repeat;
    border: 1px ;
    border-style: dashed;
    border-color:#090c29;
    text-align: center;
    display:inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom:  150px;
    right: 10px;
}

.tijera{
    width: 20px;
    height: 17px;
    background: url(../img/camp/tijera.png) no-repeat;
    text-align: center;
    display:inline-block;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 500px;
    right: 240px;
}

/*th {*/
    /*font-weight: bold;*/
    /*text-align: left;*/

/*}*/

/*td {*/
    /*text-decoration: underline;*/
/*}*/

/*!*salto de pagina en el pdf*!*/
/*.page-break {*/
    /*page-break-after: always;*/

/*}*/

/*.nobreak {*/
    /*page-break-inside: avoid;*/
/*}*/



